<!DOCTYPE html>
<html lang="fr">
	<header>
	
		<%- include header -%>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<link rel="stylesheet" href="<%=serveur%>:<%=port%>/socialNet.css">

    <link rel="stylesheet" href="<%=serveur%>:<%=port%>/cards.css">

	</header>

    <body>

    	<%- include bandeau -%>

    	<div class="container my-5">
    		<div class="row">
    			<div class="col-6 mx-auto border-bottom text-right">
    				<h3><b>Soins du corps</b></h3>
    			</div>
    		</div>
    	</div>

                <div class="container">

                  <div class="row">

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard border-bottom">Gommage corps</div>
                        <section>
                          <div>
                            <p>35 €</p>
                          </div>
                        </section>
                      <div class="descriptionCard">
                        <p><i class="material-icons">check_circle_outline</i>Élimine les peaux mortes</p>
                        <p><i class="material-icons">check_circle_outline</i>Rend la peau douce</p>
                        <p><i class="material-icons">check_circle_outline</i>30 minutes</p>
                      </div>
                    </div>
                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard border-bottom">Soin jambes lourdes</div>
                        <section>
                          <div>
                            <p>50 €</p>
                          </div>
                        </section>
                      <div class="descriptionCard">
                        <p><i class="material-icons">check_circle_outline</i>Apaise les jambes lourdes</p>
                        <p><i class="material-icons">check_circle_outline</i>Modelage drainant</p>
                        <p><i class="material-icons">check_circle_outline</i>Enveloppement à froid</p>
                        <p><i class="material-icons">check_circle_outline</i>50 minutes</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard border-bottom">Soin purifiant dos</div>
                        <section>
                          <div>
                            <p>50 €</p>
                          </div>
                        </section>
                      <div class="descriptionCard">
                        <p><i class="material-icons">check_circle_outline</i>Adoucit la peau</p>
                        <p><i class="material-icons">check_circle_outline</i>Nettoie en profondeur</p>
                        <p><i class="material-icons">check_circle_outline</i>Elimine les points noirs</p>
                        <p><i class="material-icons">check_circle_outline</i>45 minutes</p>
                      </div>
                    </div>
                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard border-bottom">Soin du buste</div>
                        <section>
                          <div>
                            <p>50 €</p>
                          </div>
                        </section>
                      <div class="descriptionCard">
                        <p><i class="material-icons">check_circle_outline</i>Soin raffermissement</p>
                        <p><i class="material-icons">check_circle_outline</i>45 minutes</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard border-bottom">Soin gourmand</div>
                        <section>
                          <div>
                            <p>120 €</p>
                          </div>
                        </section>
                      <div class="descriptionCard">
                        <p><i class="material-icons">check_circle_outline</i>Gommage avec des copeaux de noix de coco et huile de coco</p>
                        <p><i class="material-icons">check_circle_outline</i> Enveloppement destressant et reminéralisant au cacao</p>
                        <p><i class="material-icons">check_circle_outline</i>Modelage au beurre de karité </p>
                        <p><i class="material-icons">check_circle_outline</i>1h45</p>
                      </div>
                    </div>
                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard border-bottom">Rituel détente</div>
                        <section>
                          <div>
                            <p>95 €</p>
                          </div>
                        </section>
                      <div class="descriptionCard">
                        <p><i class="material-icons">check_circle_outline</i>1 massage 30 min pieds ou dos</p>
                        <p><i class="material-icons">check_circle_outline</i>1 soin du visage adapté</p>
                        <p><i class="material-icons">check_circle_outline</i>1H30</p>
                      </div>
                    </div>
                  </div>


                </div>

    	<%- include socialNet -%>


	    <%- include scriptFooter -%>
    </body>
</html>