<!DOCTYPE html>
<html lang="fr">
	<header>
	
		<%- include header -%>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<link rel="stylesheet" href="<%=serveur%>:<%=port%>/socialNet.css">

	</header>

    <body>

    	<%- include bandeau -%>


        <div class="reduc"><h3>Epilation 3 zones : -10%<br/>
                Moins de 25 ans: -15%</h3>
        </div>
   	
    	<div class="container my-5">
    		<div class="row">
    			<div class="col-6 mx-auto border-bottom text-right">
    				<h3><b>Epilation</b></h3>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-6 mx-auto mt-3 text-center">
    				<p>Utilisation de cire Française de qualité, cire jetable à usage unique, avec ou sans bandes</p>
    			</div>
    		</div>
    	</div>

        <div class="container">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Zone</th>
                  <th scope="col">Prix</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">½ jambe</th>
                  <td>18 euros</td>
                </tr>
                <tr>
                  <th scope="row">Cuisses</th>
                  <td>20 euros</td>
                </tr>
                <tr>
                  <th scope="row">Jambes entières</th>
                  <td>27 euros</td>
                </tr>
                <tr>
                  <th scope="row">Maillot classique</th>
                  <td>14 euros</td>
                </tr>
                <tr>
                  <th scope="row">Maillot  String</th>
                  <td>20 euros</td>
                </tr>
                <tr>
                  <th scope="row">Maillot  semi intégral</th>
                  <td>27 euros</td>
                </tr>
                <tr>
                  <th scope="row">Maillot Intégral</th>
                  <td>32 euros</td>
                </tr>
                <tr>
                  <th scope="row">Aisselles</th>
                  <td>13 euros</td>
                </tr>
                <tr>
                  <th scope="row">Visage complet</th>
                  <td>23 euros</td>
                </tr>
                <tr>
                  <th scope="row">Sourcil</th>
                  <td>11 euros</td>
                </tr>
                <tr>
                  <th scope="row">Lèvre ou menton</th>
                  <td>9 euros</td>
                </tr>
                <tr>
                  <th scope="row">Bras</th>
                  <td>19 euros</td>
                </tr>
                <tr>
                  <th scope="row">1/2 Bras</th>
                  <td>15 euros</td>
                </tr>
                <tr>
                  <th scope="row">Torse ou dos</th>
                  <td>28 euros</td>
                </tr>
              </tbody>
            </table>
        </div>




    	<%- include socialNet -%>


	    <%- include scriptFooter -%>
    </body>
</html>