<!DOCTYPE html>
<html lang="fr">
	<header>
	
		<%- include header -%>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<link rel="stylesheet" href="<%=serveur%>:<%=port%>/socialNet.css">

    <link rel="stylesheet" href="<%=serveur%>:<%=port%>/cards.css">

	</header>

    <body>

    	<%- include bandeau -%>

    	<div class="container my-5">
    		<div class="row">
    			<div class="col-6 mx-auto text-right border-bottom
          mb-5">
    				<h3><b>Maquillage</b></h3>
    			</div>
    		</div>
    	</div>

                <div class="container">

                  <div class="row">

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard">Maquillage Jour</div>
                        <section>
                          <div>
                            <p>25 €</p>
                          </div>
                        </section>
                    </div>

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard">Maquillage Évènement</div>
                        <section>
                          <div>
                            <p>35 €</p>
                          </div>
                        </section>
                    </div>

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard">Cours d'auto-maquillage</div>
                        <section>
                          <div>
                            <p>45 €</p>
                          </div>
                        </section>
                    </div>

                  </div>

                  <div class="row">

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard">Maquillage Mariée</div>
                        <section>
                          <div>
                            <p>54 €</p>
                          </div>
                        </section>
                        <div class="text-center">Avec 1 essai et ampoule éclat</div>
                    </div>

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard">Teinture cils</div>
                        <section>
                          <div>
                            <p>23 €</p>
                          </div>
                        </section>
                        <div class="text-center">Brun ou noir</div>
                    </div>

                    <div class="cardMan col-7 col-md-4 mx-auto">
                      <div class="introCard">Teinture sourcils</div>
                        <section>
                          <div>
                            <p>19 €</p>
                          </div>
                        </section>
                        <div class="text-center">Brun ou noir</div>
                    </div>

                  </div>

                </div>

    	<%- include socialNet -%>


	    <%- include scriptFooter -%>
    </body>
</html>